<treasure-overlay-spinner active='spinner'>

    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand">Home</a>
            </div>
        </div>
    </nav>

    <div>

        <div class="panel panel-default">

            <div class="panel-heading">

                <Strong>Face Detection</Strong>

            </div>

            <div class="panel-body">

                <div class="row">

                    <div class="col-xs-4">

                        <form>

                            <div class="form-group">

                                <label class="control-label" for="fileInput">Choose Image</label>

                                <img ngf-src="file" class="image-holder img-responsive" ng-click="triggerUpload()"/>

                                <input ng-hide = 'true' class="form-control" type="file" ngf-select ng-model="file"
                                       ngf-max-size="20MB" id="fileInput"
                                       onchange="angular.element(this).scope().loadImage(this.files)"/>

                            </div>

                        </form>

                    </div>

                    <div class="col-xs-4">

                        <form>

                            <div class="form-group">

                                <label class="control-label" for="fileInput">Choose Image</label>

                                <img ngf-src="file1" class="image-holder img-responsive" ng-click="triggerUpload1()"/>

                                <input ng-hide = 'true' class="form-control" type="file" ngf-select ng-model="file1"
                                       ngf-max-size="20MB" id="fileInput1"
                                       onchange="angular.element(this).scope().loadImage1(this.files)"/>

                            </div>

                        </form>

                    </div>

                    <div class="col-xs-4">

                        <div class="form-group">

                            <button class="btn btn-danger" ng-click="compareFaces()">Recognize</button>

                        </div>

                        <div  ng-if="faceIdentical">

                            <h1>Faces are Identical</h1>

                        </div>

                        <div  ng-if="!faceIdentical">

                            <h1>Faces doesn't Match</h1>

                        </div>

                    </div>

                </div>



            </div>

        </div>


    </div>

</treasure-overlay-spinner>